/* Main */

body {
    margin:0;
}

#container {
    background-color: #fbfbf2;
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 0;
}


/* Header & logo */

#header {
    background-color: #a6a2a2;
    width: 100%;
    height: 150px;
}

#logo {
    background-color: #f5cb5c;
    width: 15%;
    height: 150px;
    float: left;
}

#logo img {
    height: 150px;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#slogan {
    background-color: #a6a2a2;
    width: 85%;
    height: 100%;
    line-height: 150px;
}

#slogan h1 {
    color: white;
    text-align: center;
    vertical-align: middle;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40;
}


/* Navigation bar */

#nav {
    background-color: #847577;
    width: 100%;
    height: 50px;
}

#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 5px;
}

#nav ul li {
    float: right;
}

#nav ul li a {
    text-decoration: none;
    display: block;
    padding: 6px 20px 10px 20px;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font: bold;
    font-size: 18;
}

#nav ul li a:hover {
    background-color: #f5cb5c;
}


/* Sidebar */

#sidebar {
    float: left;
    background-color: #bfc0c0;
    width: 15%;
    height: 600px;
}

#sidebar #box {
    padding: 18px;
}

#sidebar h1 {
    color: 333533;
    font-style: bold;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#sidebar ul li a {
    text-decoration: none;
    display: block;
    color: #333533;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16;
}

#sidebar ul li a:hover {
    text-decoration: none;
    display: block;
    color: #d8a823;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 16;
}


/* Content */

#content {
    display: inline-block;
    background-color: #fbfbf2;
    width: 85%;
    height: 600px;
    padding: 0;
}

#article {
    float: right;
    background-color: #fbfbf2;
    height: 600px;
    /* overflow:auto; */
    /* margin: 25px; */
    padding: 25px;
}

#article h1 {
    color: rgb(34, 24, 24);
    font-family: sans-serif;
    font-style: italic;
}

#article h3 {
    color: #d8a823;
    font-family: fantasy;
}

#article p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#article #p2 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
}

#article a {
    color: #333533;
    font-family: fantasy;
    text-decoration: none;
}

#about-us {
    padding: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #333533;
    font-size: 24;
}

#about-us img {
    height: 200px;
    width: 200px;
}

/* Contact */

#contact-us {
    margin: 0;
    padding-left: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#contact-us h1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #333533;
    font-size: 24;
}

input, textarea, select {
    width: 550px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #333533;
    margin-bottom: 20px;
}

input[type=radio] {
    width: 20px;
}

input[type=submit] {
    background-color: #f5cb5c;
}



/* Footer */

#footer {
    display: inline-block;
    background-color: #333533;
    width: 100%;
    height: 50px;
}

#footer p {
    color: white;
    text-align: center;
    vertical-align: middle;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
}




